<nav>
	<ul>
		<li>
      <a href="http://www.cantonese.sheik.co.uk/essays/chinesewriting.htm">
        How to write Chinese characters
      </a>
      <a href="http://en.wikipedia.org/wiki/Chinese_character">
        Chinese characters article in Wikipedia
      </a>
			<a href="https://github.com/pwnall/tian_tian">
        TianTian source code
      </a>
		</li>
	</ul>

  <p class="design">
    Designed by <a href="http://www.costan.us">Victor Costan</a>
  </p>
</nav>
