<nav>
	<ul>
		<li>
      <a href="#">Footer Link</a>
      <a href="#">Footer Link</a>
			<a href="#">Footer Link</a>
		</li>
	</ul>

  <p class="design">
    Designed by <a href="http://www.costan.us">Victor Costan</a>
  </p>
</nav>
